:root {
  --primary: #6c63ff;
  --bg: #ffffff;
  --text: #000000;
  --card: #f5f5f5;
  --xazi: #6c63ff;
}

body.dark {
  --bg: #1e1e1e;
  --text: #ffffff;
  --card: #2a2a2a;
  --xazi: #525153;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

.app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}


.controls select {
  flex: 1;
  padding: 8px;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 5px;
}
.controls input{
  flex: 1;
  padding: 8px;
}

.controls button {
  background: var(--primary);
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: var(--card);
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
  
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox.checked {
  background: var(--primary);
  color: white;
}
.empty {
  text-align: center;
  margin-top: 60px;
  opacity: 0.7;
}

.empty img {
  width: 200px;
  margin-bottom: 15px;
}

.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  border: 1px solid var(--text);
  background: var(--bg);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.modal input {
  width: 100%;
  padding: 10px;
  color: var(--text);
  background: none;
  margin-bottom: 150px;
  border-radius: 5px;
  border: 1px solid var(--text);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 16px;
  border: 1px solid var(--primary);
  cursor: pointer;
}

#applyBtn {
  background: var(--primary);
  color: white;
  border-radius: 5px;
}
#cancelBtn {
  background: var(--bg);
  color: var(--primary);
  border-radius: 5px;
}
.search {
  color: var(--bg);
  position: relative;
  width: 100%;
  color: rgb(24, 13, 13);
}

.search input {
  background-color: var(--bg);
  border: 2px solid var(--xazi);
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  color: var(--text);
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}